/*
.jumbotron{
    background-color: #0000ff;
}

.bg-dark{
    background-color: #0000ff !important;
}

*/

.btn-outline-dark:hover{
    color:#0000ff;
    background-color:#8a83f2;
    border-color:#8a83f2;
}



.content-section{
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
}

.homepage-button{
    padding: 100px 20px 0px 20px;
    color: khaki;
}


.btn-outline-dark{
    color:#343a40;
    background-color:transparent;
    background-image:none;
    border-color:#343a40
}

.btn-outline-dark{
    border-radius: 20px;
}


.btn-lg{
    height: 250px;
    width: inherit;
    margin-bottom: 100px;
}

#btnx-text{
    text-decoration: none;
    color: inherit;
    font-size: 20px;
}

#btn-text{
    text-decoration: none;
    color: inherit;
    font-size: 30px;
}

.current-status-and-flags{
    padding: 100px 0px 100px 0px;
}

table.dataframe, .dataframe th, .datafreme td{
    border: none;
    border-bottom: 1px solid #666666;
    border-collapse: collapse;
    text-align: left;
    padding: 10px;
    margin-bottom: 40px;
    font-size: inherit;
}

.flags{
    background-color: white;
    color: black;
}

tr:nth-child(odd){
    background-color: #eee;
}

tr:nth-child(even){
    background-color: #fff;
}

tr:hover{
    background-color: #8a83f2;
    cursor: pointer;
}