{% extends "layout.html" %}
{% block content %}
    <div class="homepage-button col-10 col-md-4">
        <button type="button" class="btn btn-lg btn-outline-dark btn-block"><a id="btn-text" href="/systemtemperature.html">Temperature</a></button>
    </div>
    <div class="homepage-button col-10 col-md-4">
        <button type="button" class="btn btn-lg btn-outline-dark btn-block"><a id="btn-text" href="/systempH.html">pH</a></button>
    </div>
    <div class="homepage-button col-10 col-md-4">
        <button type="button" class="btn btn-lg btn-outline-dark btn-block"><a id="btn-text" href="/systemtds.html">EC/TDS</a></button>
    </div>
{% endblock %}